
html,body{
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: transparent;
    padding: 1% 0;
    font-size: 1.2em;

}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}
.nav-link{
    color: #d5d5d5;
}
 .nav-item :hover {
    color:#fff;
}

img {
    width: 100%;
    height: auto;
  }



.landing-text{
    display: table-row;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 0px 8px black;
}
.landing-text h1{
    font-size: 350%;
    font-weight:700 ;
}

#fixed{
    background: url(./img/group.jpg) no-repeat center center fixed  ;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    background-size: cover;

}


#about{
               
}

#home {
    background: url(./img/maclarge.jpg) no-repeat center center fixed  ;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #23415c;
    padding: 5pt 5pt 20pt 5pt;

}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF
}